body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:628px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:110px;
}
#u100 {
  position:absolute;
  left:10px;
  top:325px;
  width:54px;
  height:110px;
}
#u101 {
  position:absolute;
  left:2px;
  top:47px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:110px;
}
#u102 {
  position:absolute;
  left:564px;
  top:311px;
  width:54px;
  height:110px;
}
#u103 {
  position:absolute;
  left:2px;
  top:47px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:613px;
}
#u104 {
  position:absolute;
  left:96px;
  top:100px;
  width:435px;
  height:613px;
}
#u105 {
  position:absolute;
  left:2px;
  top:298px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:132px;
}
#u106 {
  position:absolute;
  left:34px;
  top:754px;
  width:94px;
  height:132px;
}
#u107 {
  position:absolute;
  left:2px;
  top:58px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:132px;
}
#u108 {
  position:absolute;
  left:142px;
  top:754px;
  width:94px;
  height:132px;
}
#u109 {
  position:absolute;
  left:2px;
  top:58px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:132px;
}
#u110 {
  position:absolute;
  left:250px;
  top:754px;
  width:94px;
  height:132px;
}
#u111 {
  position:absolute;
  left:2px;
  top:58px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:132px;
}
#u112 {
  position:absolute;
  left:359px;
  top:754px;
  width:94px;
  height:132px;
}
#u113 {
  position:absolute;
  left:2px;
  top:58px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:132px;
}
#u114 {
  position:absolute;
  left:473px;
  top:754px;
  width:94px;
  height:132px;
}
#u115 {
  position:absolute;
  left:2px;
  top:58px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:92px;
}
#u116 {
  position:absolute;
  left:10px;
  top:2px;
  width:618px;
  height:92px;
}
#u117 {
  position:absolute;
  left:2px;
  top:38px;
  width:614px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:628px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u100.a {
}
#u100_img.a {
}
#u101.a {
}
#u102.a {
}
#u102_img.a {
}
#u103.a {
}
#u104.a {
}
#u104_img.a {
}
#u105.a {
}
#u106.a {
}
#u106_img.a {
}
#u107.a {
}
#u108.a {
}
#u108_img.a {
}
#u109.a {
}
#u110.a {
}
#u110_img.a {
}
#u111.a {
}
#u112.a {
}
#u112_img.a {
}
#u113.a {
}
#u114.a {
}
#u114_img.a {
}
#u115.a {
}
#u116.a {
}
#u116_img.a {
}
#u117.a {
}
#u118.a {
}
